html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.rootHomeAdmin
{
    display: flex; 
    flex-direction: row;
    padding: 0;
    margin: 0;
}

/*------bên left*/
.rootHomeAdminLevel2
{
    position: relative; /*để nút bám vào*/
    background-color: rgb(255, 255, 255);
    width: 25%;
    display: flex;
    flex-direction: row;

    /* thêm animation */
    transition: all 0.3s ease; /* 0.3 giây khi thay đổi gì đó*/

}

.divClose1
{
    width: 50px;
}

.leftMenu
{
    position: relative; /* bắt buộc để đặt nút đóng mở bên trong*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(129, 200, 231);
    width: 100%;
    height: 100%;

    /*làm đẹp border*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0px;
    padding: 0px;

    overflow: hidden; /*ko ko tràn phần tử con*/

}
.divClose1 .leftMenu h3, 
.divClose1 .leftMenu button {
    opacity: 0;
    pointer-events: none;  /* tránh bị bấm nhầm */
    transition: all 0.2s ease;
}

.divOpen1 .leftMenu h3, 
.divOpen1 .leftMenu button {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.toggleButton
{
    position: absolute;
    top: 40%;
    right: -15px; /*lòi ra 10px*/
    width:20px;
    height: 55px;

    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 10;      /* nổi lên trên */

    font-size: large;
    font-weight: 800;
    padding: 0px;
}

/*button đóng mở*/
.leftMenu h3
{
    margin-bottom: 50px;
    margin-top:50px;
}

.leftMenu button
{
    width: 90%;
    min-width: 90px;
    margin-top: 30px;
    height: 80px;
    border: 2px solid rgba(55, 204, 227, 0.502);
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(164, 176, 193, 0.8);
}

.leftMenu button:hover
{
    background-color: rgb(134, 182, 200);
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.activeButtonLeft
{
    background-color: rgb(100, 180, 220) !important;/*thêm để ko bị 2 hiệu ứng trên đè*/
    color: black;
    border-color: rgba(255, 255, 255, 1) !important;
}


/*---------select bên right-----*/
.rightmainContent
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightmainContent h2
{
    background-color: rgb(126, 212, 234);
    font-size: xx-large;
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0px;
}
.rightMenu
{
    display: flex;
    flex-direction: row;
    justify-content: center;  /* căn giữa */
    align-items: center;      /* căn giữa theo chiều dọc */
    gap: 10%;
    width: 90%;
}

.buttonRight
{
    background-color: #338fbe;
    color: white;
    width: 150px;
    height: 35px;

    border: 2px solid rgba(170, 242, 246, 0.5);
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttonRight:hover
{
    background-color: rgb(9, 104, 139);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.buttonMainActive
{
    background-color: rgb(3, 79, 107) ;
}