version: '3.8'

services:
  patient-service:
    build:
      context: ./3_backend/patient_service
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=${MONGO_URI}
    restart: always

  doctor-service:
    build:
      context: ./3_backend/doctor_service
    ports:
      - "8001:8001"
    environment:
      - MONGO_URI=${MONGO_URI}
    restart: always

  admin-service:
    build:
      context: ./3_backend/admin_service
    ports:
      - "8002:8002"
    environment:
      - MONGO_URI=${MONGO_URI}
    restart: always

  api-gateway:
    build:
      context: ./2_api_gateway
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - ADMIN_SERVICE_URL=http://admin-service:8002
      - DOCTOR_SERVICE_URL=http://doctor-service:8001
      - PATIENT_SERVICE_URL=http://patient-service:8000
    depends_on:
      - admin-service
      - doctor-service
      - patient-service
    restart: always
