fastapi
uvicorn
pymongo[srv]
certifi

#passlib[bcrypt]
#bcrypt
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

python-jose[cryptography]
pydantic
python-dotenv
cryptography

python-multipart
pandas
openpyxl
pydantic-settings
dnspython
