fastapi
uvicorn
pymongo
passlib[bcrypt]
pydantic
python-dotenv
cryptography
email-validator
twilio
mangum
bcrypt
python-jose[cryptography]

python-multipart
pandas
openpyxl
pydantic-settings
dnspython
