html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.pageContainer {

  padding: 0px;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.duoi
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left
{
    padding: 0;
    margin-right: 20px;
    max-width: 25%;
}

.divTop {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.backButton {
  background-color: #258fd6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;

    cursor: pointer;
    margin-bottom: 20px;
    width: 100px;
    transition: all 0.3s ease; /* thêm transition mượt */ 
    
    margin-top:20px;
    margin-left: 20px;
}

.titleh2 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
}

.titleh2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.divBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
  padding: 20px;
  align-items: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 80%;
}

.formGroup label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
}

.formGroup input {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 50%;
}

.formGroup button {
  width: 180px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.formGroup button:hover {
  background-color: #45a049;
}

.doctorTable {
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.doctorTable table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.doctorTable thead {
  background-color: #f2f2f2;
  font-weight: bold;
}

.doctorTable th,
.doctorTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.doctorTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.doctorTable button {
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.doctorTable button:hover {
  background-color: #1976d2;
}

.buttonGroup {
  margin-top: 20px;
}

.buttonGroup button {
  background-color: #4caf50;
  margin-right: 10px;
}

.buttonGroup button:hover {
  background-color: #45a049;
}
