html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
}


/*----------------------*/

.divTop
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.backButton {
    background-color: #258fd6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;

    cursor: pointer;
    margin-bottom: 15px;
    margin-top:30px;
    margin-left: 10px;
    width: 100px;
    transition: all 0.3s ease;; /* thêm transition mượt */  
}

.titleh2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: 30%;
    
}
/*----------------dưới------------*/
.divBottom
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

/*left*/
.leftMenu
{
    padding:0px;
    margin:0px;
    max-width:25%;
    margin-right: 30px;
    transition:all 1s ease;
}

.tableRes
{
    width: 100%;
    display:flex;
    flex-direction: column;
    transition: all 1s ease;
    padding: 10px;
}

.searchInput {
    width: 100%;
    max-width: 400px;
    padding: 8px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

