.container
{
    position: relative; /*để nút bám vào*/
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 400px;
    display: flex;
    flex-direction: row;

    /* thêm animation */
    transition: all 0.3s ease; /* 0.3 giây khi thay đổi gì đó*/
    padding: 0;
}

.divClose
{
    width: 40px;
}

.divOpen
{
    width: 100%;
}

.buttonClose
{
    position: absolute;
    top: 40%;
    right: -15px; /*lòi ra 10px*/
    width:20px;
    height: 55px;

    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 10;      /* nổi lên trên */

    font-size: large;
    font-weight: 800;
    padding: 0px;
}


.leftMenu {
  width: 100%;
  height: 100%;
  max-height: 400px;
  background-color: #aceaed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden; /*ko ko tràn phần tử con*/
}

.divClose .leftMenu button
{
    opacity: 0;
    transition: all 0.2s ease;
}

.divOpen .leftMenu button
{
    opacity: 1;
    transition: all 0.2s ease;
}

.leftMenu button {
    width: 100%;
    min-width: 90px;
    margin-top: 20px;
    height: 60px;
    border: 2px solid rgba(55, 204, 227, 0.502);
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #4caf50;
}

.leftMenu button:hover {
  background-color: #45a049;
  transform: translateY(-1px);
}

.activeButton {
  background-color: #2196f3 !important;
  font-weight: bold;
}


