.containerAdminRegister
{
    position: fixed;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(160, 225, 241);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/image.png');
    
}

.backButton
{
    position: fixed;
    left: 30px;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent; /* trong suốt */
    border: none;
    cursor: pointer;
}

.header
{
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    width: 80%;
    height:140px;
    text-align: center;
    align-content: center;
    border-radius: 10px;

}

.form
{
    margin-top:0px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    
    width: 50%;
    border-radius: 10px;
}

.containerAdminRegister form div
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.containerAdminRegister form input
{
    padding: 10px;
    font-size:large;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

.containerAdminRegister form label
{
    padding: 10px;
    width: 100px;
    font-size:large;
    font-weight: bold;
}

.submitButton
{
    width: 100px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    border-radius: 6px;
    background-color: rgb(123, 196, 225);
    cursor: pointer;
    border-width: 0px;
    border-style: solid;
}